/* To import font library */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

/* Variables for color assignment */

:root {
  --black: #000000;
  --white: #ffffff;
  --crimson: #dc143c;
  --neon: #00fd9c;
  --dark-slate-blue: #2857a4;
  --grey: #adbcc7;
  --light-black: #1a1a1d;
}

/* 1. Progress Bar Styles */
.progress-container {
  position: fixed; /* Stick to the top of the screen */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Ensure it sits above other content (Bootstrap navbars usually are 1030) */
  background-color: transparent; /* Make the track transparent */
}

.thin-bar {
  height: 5px; /* Thin line height */
}

.gradient-custom {
  /* Vibrant gradient */
  background: linear-gradient(90deg, #fd1d1d 0%, #833ab4 50%, #00d2ff 100%);
  background-size: 300% 300%;
  animation: gradientMove 3s ease infinite;
  width: 0%; /* Start at 0 width */
  transition: width 0.1s; /* Smooth transition for the width change */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* CSS for Particles Animation */

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Particles Animation Code Ends */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: transparent;
}

#body-header {
  height: 65vh;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Horizontal Lists */

.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1rem;
  white-space: nowrap;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  font-weight: 100;
  font-size: 0.9rem;
}

.horizontal-list li a {
  text-decoration: none;
  color: var(--white);
  font-weight: normal;
  padding: 0.5rem;
  transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover {
  color: var(--crimson);
  border-bottom: 1px solid var(--black);
}

.horizontal-list li a.active {
  color: var(--crimson);
}

/* Hamburger Nav List */

/* This is done to hide the icon in the desktop mode */
.hamburger-menu i {
  display: none;
}

/* Name and Social Icons */

.text-center {
  text-align: center;
}

#name-social-container {
  margin-top: 4rem;
}

#my-name {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: var(--crimson);
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  /* Type Writer Effect built with CSS only */
  border-right: 2px solid #ffffffbf;
  width: 0ch;
  animation: typing 5s steps(5, end) 0s infinite, blink 0.8s step-end infinite;
  animation-delay: 0s, 5s;
}

/* Type Writer Effect */
@keyframes typing {
  0% {
    width: 0ch;
  }
  10% {
    width: 12ch;
  }
  90% {
    width: 12ch;
  }
  100% {
    width: 0ch;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--neon);
  }
}

#my-name:hover {
  transform: scale(1.2);
  color: var(--neon);
}

.subtitle {
  color: var(--white);
}

.social-links {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.social-links li {
  display: inline-block;
  float: none;
  margin: 0 5px;
  text-align: center;
}

.social-links > li > a {
  color: var(--white);
  transition: transform 0.3s, color 0.3s;
  display: inline-block;
  padding: 0.2rem;
  border-radius: 50%;
  text-align: center;
}

.social-links > li > a:hover {
  transform: scale(1.2);
  color: var(--neon);
  box-shadow: 0 0 10px 5px #f65c0366;
  border-radius: 50%;
  background-color: #ffffff0d;
}

/* About Section */

#about {
  height: auto;
  width: 100%;
}

/* Profile Picture */

.profile_img {
  margin: 1%;
  text-align: center;
}

.profile_img img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  transition: transform 0.3s, color 0.3s;
  background-color: #ffffff0d;
  box-shadow: 0 0 10px 5px var(--neon);
  transform: translateY(-50%);
}

.profile_img img:hover {
  background-color: #ffffff0d;
  box-shadow: 0 0 10px 5px var(--crimson);
}

/* Short Description */

.short_desc {
  justify-items: center;
}

.short_desc p {
  color: #78a083;
  font-weight: 700;
}

.short_desc p em {
  color: var(--crimson);
}

/* Skills Section */

.section-heading {
  width: auto;
  padding: 20px 10px 10px;
  margin: 10px auto;
  font-weight: 400;
  text-align: center;
}

.section-heading span {
  font-size: 40px;
  color: var(--dark-slate-blue);
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
  text-align: center;
}

.skills-display {
  width: 70%;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Skill Progress */

.skill-progress {
  width: 7.5rem;
  height: 1.4rem;
  background-color: var(--grey);
  border-radius: 0.8rem;
  border: 1px solid var(--black);
  position: relative;
  overflow: hidden;
}

.skill-progress > div {
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  width: 0%;
  animation: fillBar 2s ease-out forwards;
}

#low-score {
  animation: fillBar-1 2s ease-out forwards;
}

@keyframes fillBar-1 {
  to {
    width: 60%;
  }
}

.skill-progress::after {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: var(--black);
  font-weight: bold;
}

@keyframes fillBar {
  to {
    width: 85%;
  }
}

.skill-name span {
  color: var(--white);
  font-size: 1rem;
  margin-left: 10px;
}

/* Common Margin Classes */

.mb75px {
  margin-bottom: 75px;
}

/* Common color classes */
.text-highlight {
  color: var(--dark-slate-blue);
  font-weight: 600;
}

.mb-blue {
  background-color: var(--dark-slate-blue);
}

.mb-orange {
  background-color: #ff4500;
}

.mb-brown {
  background-color: #a52a2a;
}

.mb-green {
  background-color: #006400;
}

.mb-red {
  background-color: var(--crimson);
}

/* Percentage Classes */

/* 20% */
.twenty-percent {
  width: 20%;
  height: inherit;
}

/* 30% */
.thirty-percent {
  width: 30%;
  height: inherit;
}

/* 40% */
.forty-percent {
  width: 40%;
  height: inherit;
}

/* 50% */
.fifty-percent {
  width: 50%;
  height: inherit;
}

/* 60% */
.sixty-percent {
  width: 60%;
  height: inherit;
}

/* 70% */
.seventy-percent {
  width: 70%;
  height: inherit;
}

/* 85% */
.eighty-five-percent {
  width: 85%;
  height: inherit;
}

/* 90% */
.ninety-percent {
  width: 90%;
  height: inherit;
}

/* Work Experience Timeline */

.timeline {
  position: relative;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.timeline-box {
  position: relative;
  width: 40%;
  left: 0.5%;
  min-height: 150px;
  margin: 5px;
  background-color: #ffffff09;
  border-radius: 15px;
}

.timeline-box img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

.timeline-box h4 {
  font-size: 1rem;
  color: var(--neon);
  margin: 10px 0 5px;
  text-align: center;
  transform: none;
}

.timeline-box span,
.timeline-box p {
  font-size: 0.85rem;
  padding: 2px 0;
  margin: 0;
  color: var(--grey);
  text-align: center;
  line-height: 1.4;
}

#tb-el span,
#tb-el p {
  margin-top: 0;
}

#tm h4 {
  text-align: start;
  margin-left: 2%;
}

.timeline-box:nth-child(2n) {
  left: 57%;
}

.timeline-box:nth-child(2n + 1)::after {
  content: "";
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--neon);
  position: absolute;
  top: 4%;
  right: -24%;
  z-index: 10;
}

.timeline-box:nth-child(2n)::after {
  content: "";
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--neon);
  position: absolute;
  top: 20%;
  left: -18.5%;
  z-index: 2;
}

/* Education Timeline Adjustments */

#tb-el_1 i {
  transform: scale(2.5);
  color: var(--grey);
}

/* Timeline Divider */

.timeline-divider {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 1px;
  height: 80px;
  border-left: 5px dashed var(--dark-slate-blue);
  border-top: none;
  border-right: none;
  border-bottom: none;
  z-index: 1;
  justify-items: center;
}

.timeline-traveler {
  position: sticky;
  top: 25%;
  left: -50px;
  transform: rotate(90deg) scale(1.5);
  z-index: 3;
  color: var(--crimson);
}

#bus {
  transform: scale(1.5);
}

/* Portfolio */

.port-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2%;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: -50%;
  transition: transform 0.3s, color 0.3s;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px 5px var(--neon);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black); /* dark overlay */
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* initially hidden */
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 10px;
}

.image-wrapper:hover .text-overlay {
  opacity: 5; /* show on hover */
}

/* Contact Section */

.glass-card {
  color: var(--white);
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  gap: 10%;
}

.glass-card h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey);
  color: var(--white);
  border-radius: 0;
  width: 600px;
}

form {
  padding-left: 2%;
  padding-bottom: 2%;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--dark-slate-blue);
  background: transparent;
  color: var(--white);
}

::placeholder {
  color: #bbb;
}

#msg {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey);
  color: var(--white);
  border-radius: 0;
  width: 100%;
}

#msg:focus {
  box-shadow: none;
  border-color: var(--dark-slate-blue);
  background: transparent;
  color: var(--white);
}

.btn-login {
  border: 1px solid var(--dark-slate-blue);
  background: transparent;
  color: var(--dark-slate-blue);
  transition: 0.3s ease;
  width: fit-content;
  transform: translate(100%, 50%);
}

.btn-login:hover {
  background: var(--dark-slate-blue);
  color: var(--white);
}

.get-touch {
  color: var(--white);
  transform: translate(45%, -5%);
}

#para p {
  word-wrap: break-word;
  width: 50%;
}

#para p em {
  color: var(--crimson);
}

/* Footer Section */
.mb-0 {
  color: var(--white);
}

@media (max-width: 560px) {
  /* Navbar customization's */

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    font-size: 1.8rem;
    color: var(--white);
    border: none;
    cursor: pointer;
  }

  .horizontal-list {
    display: none;
  }

  .hamburger-menu i {
    display: block;
  }

  #name-social-container {
    margin-top: 50%;
  }

  .profile_img {
    transform: translateY(30%);
  }

  .navbar-nav {
    position: absolute;
    top: 2.5rem; /* just below the hamburger icon */
    right: 1rem; /* aligned with the hamburger icon */
    background-color: transparent;
    padding: 3%;
    line-height: 0.5;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--black);
    z-index: 999;
    flex-direction: column;
    text-align: right;
    font-size: 65%;
    animation: fadeSlide 0.3s ease-in-out forwards;
  }

  /* Animation */
  @keyframes fadeSlide {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar-nav.show {
    display: flex;
  }

  .navbar-nav li {
    margin: auto;
  }

  /* Short Description */

  .short_desc p {
    font-size: small;
  }

  /* WorkExperience & Education */

  .timeline-box {
    width: 90%;
    left: 8%;
    padding: 1.5rem 1rem;
    margin-bottom: 2.5rem;
    background-color: #ffffff09;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline-box img {
    display: block;
    margin-bottom: 0.8rem;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px #00ffaa4d;
  }

  .timeline-box h4 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.4rem;
    color: var(--neon);
  }

  .timeline-box span,
  .timeline-box p {
    font-size: 0.85rem;
    text-align: center;
    margin: 0.15rem 0;
    color: var(--grey);
    line-height: 1.5;
  }

  .timeline-traveler {
    left: 55%;
    transform: translateX(-50%) rotate(90deg) scale(1.6);
    top: 12%;
  }

  .timeline-box:nth-child(2n + 1)::after,
  .timeline-box:nth-child(2n)::after {
    left: 10%;
    right: 10%;
    transform: translateX(-50%);
    top: -10px;
  }

  #tm::after {
    left: 50%;
    transform: translateX(-50%);
  }

  #tm {
    left: 20%;
  }

  /* Contact Me Section */

  #contact .glass-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .get-touch {
    padding-top: 10%;
    transform: translate(2%, 1%);
  }
}

/* ---------------------------------------
   Universal Mobile First Fix (≤ 480px)
----------------------------------------*/
@media only screen and (max-width: 480px) {
  .timeline-divider {
    left: -10%;
    height: 90%;
  }

  .timeline-box:nth-child(2n + 1)::after,
  .timeline-box:nth-child(2n)::after {
    left: -11%;
    top: 47%;
  }

  .timeline-box:nth-child(2n + 1)::after {
    top: 0%;
  }

  #tm::after {
    left: -11%;
  }

  #tm,
  #tb-el {
    left: auto;
  }

  .timeline-box {
    width: 100%;
    left: 5%;
    top: -10%;
  }

  .profile_img img {
    transform: translateY(-35%);
  }

  #education_divider {
    height: 92%;
  }

  #tb-el_1 {
    left: auto;
  }

  #msg,
  .form-control {
    width: 190%;
  }
}

/* ---------------------------------------
   Devices with width ≥ 1225px
----------------------------------------*/
@media only screen and (min-height: 780px) {
  .profile_img {
    transform: translateY(15%);
  }
}

/* ---------------------------------------
   Devices with height ≥ 780px
----------------------------------------*/
@media only screen and (min-height: 780px) {
  #body-header {
    height: 55vh;
  }
  .timeline-divider {
    height: 78%;
  }
}

/* ---------------------------------------
   Landscape Mode for Small Devices
----------------------------------------*/
@media only screen and (max-width: 820px) and (orientation: landscape) {
  .timeline-box {
    width: 80%;
    left: 10%;
  }
  .timeline-divider {
    height: 120%;
  }
}

/* ---------------------------------------
   Portrait Mode Large Height Devices
----------------------------------------*/
@media only screen and (min-height: 780px) and (orientation: portrait) {
  .timeline-box {
    margin-bottom: 3rem;
  }
  .timeline-divider {
    height: 90%;
  }
}

@media only screen and (max-width: 330px) {
  .timeline-box {
    width: 95%;
    left: 2.5%;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .timeline-box h4 {
    font-size: 0.95rem;
  }

  .timeline-box span,
  .timeline-box p {
    font-size: 0.75rem;
  }

  .timeline-divider {
    height: 100%;
  }

  .timeline-traveler {
    top: 15%;
    transform: translateX(-50%) rotate(90deg) scale(1.4);
  }
}

/* ====== SVG TIMELINE UPGRADE (NON-DESTRUCTIVE) ====== */

.timeline-svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.connector-svg {
  position: absolute;
  left: calc(50% - 25px);
  top: -25px;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
}
